{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div class="contenido">
  <div style="margin: 20px auto; max-width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h3 style="text-align: center; margin-bottom: 20px;">¿Estás seguro de que deseas borrar tu cuenta?</h3>
    <form method="post" style="text-align: center;">
      {% csrf_token %}
      <p>Esta acción no se puede deshacer. Si borras tu cuenta, se perderán todos tus datos y configuraciones.</p>
      <div style="text-align: center; margin-top: 20px;">
        <input type="submit" value="Borrar cuenta" style="background-color: #dc3545; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
      </div>
    </form>
  </div>
</div>
{% endblock contenido %}
