{% extends "index.html" %}
{% load static %}

{% block contenido %}
    <h1>Resultados de búsqueda</h1>

    
    {% if search_results %}
        <h2>Perfiles</h2>
        <div class="card-deck">
            {% for profile in search_results.profiles %}
                <div class="card" style="width: 18rem; margin: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                        <p class="card-text">{{ profile.bio }}</p>
                        <small class="text-muted">Email: {{ profile.user.email }}</small>
                        <img src="{{ profile.avatar.url }}" alt="Avatar del perfil" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                        <a href="{% url 'ver_perfil' profile.pk %}" class="btn btn-secondary">Ver perfil</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <h2>Posts</h2>
        <div class="card-deck">
            {% for post in search_results.posts %}
                <div class="card" style="width: 18rem; margin: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <small class="text-muted">Fecha: {{ post.timestamp }}</small>
                        <img src="{{ post.image.url }}" alt="Imagen del post" style="width: 100%; height: auto;">
                        <a href="{% url 'detalle_post' post.pk %}" class="btn btn-primary">Ver detalle</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock contenido %}