{% extends "index.html" %}
{% load static %}

{% block contenido %}
<div class="contenido" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: left; width: 50%; border: 1px solid #ccc; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); padding: 20px; border-radius: 5px;">
        <h2>Agrega más datos!</h1>
        <br/>
        <form style="justify-content: left;" method="post">
            <h5>Tus datos actuales:</h5>
            <p style="justify-content: left;">Nombre: <strong>{{ user.first_name }}</strong></p>
            <p style="justify-content: left;">Apellido: <strong>{{ user.last_name }}</strong></p>
            <p style="justify-content: left;">Usuario: <strong>{{ user.username }}</strong></p>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar">
        </form>
    </div>
</div>
<br/>
{% endblock contenido %}
