{% extends "index.html" %}
{% load static %}

{% block contenido %}
<div class="contenido" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: calc(100vh - 100px);">
    <div style="text-align: center; margin-bottom: 20px;">
        <h2><strong>Inicia Sesión para ver el contenido!</strong></h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div style="text-align: center;">
            {{ form.as_p }}
            <input type="submit" value="Iniciar Sesión" />
        </div>
    </form>
</div>
{% endblock contenido %}
