{% extends "index.html" %}
{% load static %}

{% block contenido %}
<div class="contenido" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="width: 50%; border: 1px solid #ccc; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); padding: 20px; border-radius: 5px; position: relative;">
        <div style="position: absolute; top: 0; right: 0; padding: 10px;">
            <img src="{{ user.avatar.imagen.url }}" alt="Avatar" style="width: 150px; height: 150px; border-radius: 50%;">
        </div>
        <h2>Mi Perfil</h2>
        <p style="justify-content: left; "><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
        <p style="justify-content: left;"><strong>Nombre:</strong> {{ user.first_name }}</p>
        <p style="justify-content: left;"><strong>Apellido:</strong> {{ user.last_name }}</p>
        <p style="justify-content: left;"><strong>Correo electrónico:</strong> {{ user.email }}</p>
        <p style="justify-content: left;"><strong>Biografía:</strong> {{ user.userprofile.bio }}</p>
    </div>
</div>
{% endblock contenido %}
