{% extends "index.html" %}
{% load static %}

{% block contenido %}
    <h1>Posts de {{ user.first_name }} {{ user.last_name }}:</h1>
    <ul style="list-style-type: none; padding: 0;">
        {% for post in posts %}
            <li style="background-color: #f5f5f5; border: 1px solid #ddd; border-radius: 5px; padding: 15px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); display: flex; position: relative;">
                <div style="flex: 1;">
                    <h2><a style="color: blue;" href="{% url 'detalle_post' post.pk %}">{{ post.title }}</a></h2>
                    <small>Fecha: {{ post.timestamp }}</small><br/>
                    <strong>Encabezado:</strong> {{ post.header }}<br/>
                    <p>{{ post.content|truncatewords:30 }}</p><br/>
                    <p>{{ post.category }}</p>
                </div>
                <div style="position: absolute; top: 10px; right: 10px;">
                    <img src="{{ post.image.url }}" alt="Imagen del post" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                </div>
                {% if user.is_authenticated %}
                <div style="position: absolute; bottom: 10px; right: 10px;">
                    <a href="{% url 'editar_post' post.pk %}" class="btn btn-primary" style="color: blue; margin-right: 10px;">
                        <small style="color: white;">Editar</small>
                    </a>
                    <a href="{% url 'borrar_post' post.pk %}" class="btn btn-danger" style="color: red;">
                        <small style="color: white;">Borrar</small>
                    </a>
                </div>                
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}